<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/dashboard :: page">
  <head>
  </head>
  <body>
    <div th:fragment="content">
      <div class="container">
        <h1>Booking List</h1>
        <ul th:each="booking : ${bookings}">
          <li>
            <a th:text="${booking.hotel.name}" th:href="@{|/hotels/${booking.hotel.id}|}"></a>
            <p> Arrival: <span th:text="${booking.arrival}"/>, Departure: <span th:text="${booking.departure}"/>, Type: <span th:text="${booking.roomType.name}"/> </p>
          </li>
        </ul>
        <p> <a href="/hotels/new">new hotel</a></p>
      </div>
    </div>
  </body>
</html>


