<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
    <div class="container">
  <h1>Booking List</h1>
    <ul th:each="booking : ${bookings}">
        <li>
          <a th:text="${booking.hotel.name}" th:href="@{|/hotels/${booking.hotel.id}|}"></a>
          <p> Arrival: <span th:text="${booking.arrival}"/>, Departure: <span th:text="${booking.departure}"/>, Type: <span th:text="${booking.roomType.name}"/> </p>
        </li>
  </ul>
  <p> <a href="/hotels/new">new hotel</a></p>
  </div>
</body>
</html>

