### OSX ###
.DS_Store

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

node_modules/
/dist

.sass-cache/

###

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
/bin/

#db
*.trace.db
data/

