<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layouts/dashboard :: page">
  <head>
    <title></title>
  </head>
  <body>
    <div th:fragment="content">
      <form class="clear">
        <div class="row container">
          <div class="four columns">
            <label>Dates</label>
          </div>
          <div class="four columns">
            <input type="date"/>
          </div>
          <div class="four columns">
            <input type="date"/>
          </div>
        </div>
        <div class="row container">
          <div class="four columns">
            <label>Room Type</label>
          </div>
          <div class="eight columns">
            <select>
              <option selected="" disabled="">Room Type</option>
              <option value="SR">Single Room</option>
              <option value="DR">Double Room</option>
              <option value="JS">Junior Suite</option>
              <option value="ES">Executive Suite</option>
              <option value="GS">Grande Suite</option>
              <option value="FS">Family Suite</option>
              <option value="PS">Presidential Suite</option>
            </select>
          </div>
        </div>
        <div class="secondary">
          <div class="container">
            <button type="submit">Filter</button>
            <span th:text="${hotels.size()}+' hoteis encontrados'"></span>
          </div>
        </div>
      </form>
      <div class="secondary">
        <div class="container">
          <div th:each="hotel : ${hotels}">
            <div class="media hotel-list">
              <img src="https://placehold.it/150x150" alt="" class="media__img"/>
              <div class="media__body">
                <div class="row">
                  <div class="nine columns">
                    <h5><a th:text="${hotel.name}" th:href="@{|/hotels/${hotel.id}|}"></a> <span th:class="'star-' + ${hotel.rating}"></span></h5>
                  </div>
                  <div class="three columns">
                    # comments
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
