@charset "UTF-8";
/*  __  __          __           ___              
 * /\ \/\ \        /\ \__       /\_ \             
 * \ \ \_\ \    ___\ \ ,_\    __\//\ \    _ __    
 *  \ \  _  \  / __`\ \ \/  /'__`\ \ \  /\`'__\  
 *   \ \ \ \ \/\ \L\ \ \ \_/\  __/ \_\ \_\ \ \/   
 *    \ \_\ \_\ \____/\ \__\ \____\/\____\ \_\   
 *     \/_/\/_/\/___/  \/__/\/____/\/____/ \/_/   
 */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .column,
  .columns {
    margin-left: 0%; }

  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns {
    width: 8.33333%; }

  .two.columns {
    width: 16.66667%; }

  .three.columns {
    width: 25%; }

  .four.columns {
    width: 33.33333%; }

  .five.columns {
    width: 41.66667%; }

  .six.columns {
    width: 50%; }

  .seven.columns {
    width: 58.33333%; }

  .eight.columns {
    width: 66.66667%; }

  .nine.columns {
    width: 75%; }

  .ten.columns {
    width: 83.33333%; }

  .eleven.columns {
    width: 91.66667%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 33.33333%; }

  .two-thirds.column {
    width: 66.66667%; }

  .one-half.column {
    width: 50%; }

  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.33333%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 16.66667%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 25%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 33.33333%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 41.66667%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 50%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 58.33333%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 66.66667%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 75%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 83.33333%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 91.66667%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 33.33333%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 66.66667%; }

  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 50%; } }
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3, .h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem; }

  h2 {
    font-size: 4.2rem; }

  h3, .h3 {
    font-size: 3.6rem; }

  h4 {
    font-size: 3.0rem; }

  h5 {
    font-size: 2.4rem; }

  h6 {
    font-size: 1.5rem; } }
p {
  margin-top: 0; }

a {
  color: #53406c; }
  a:hover {
    color: #47375c; }

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover {
  color: #333;
  border-color: #888888;
  outline: 0; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #333;
  border-color: #888888;
  outline: 0; }

.button:focus,
button:focus {
  color: #333;
  border-color: #888888;
  outline: 0; }

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #333;
  border-color: #888888;
  outline: 0; }

.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #53406c;
  border-color: #53406c; }

input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #fff;
  background-color: #53406c;
  border-color: #53406c; }

.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #53406c;
  border-color: #53406c; }

input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #53406c;
  border-color: #53406c; }

.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #53406c;
  border-color: #53406c; }

input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #53406c;
  border-color: #53406c; }
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="date"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="email"], input[type="date"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #53406c;
  outline: 0; }

textarea:focus,
select:focus {
  border: 1px solid #53406c;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 38px; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

form select, form input, form .button {
  width: 100%; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: white;
  border: 1px solid #f0eff4;
  border-radius: 4px; }

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #f0eff4; }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #f0eff4; }

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

footer {
  height: 10rem;
  background-color: white; }

.info {
  width: 100px;
  background-position: 50%;
  background-size: 100%; }

.about {
  display: inline-block;
  float: right;
  padding: 0 2rem;
  text-transform: uppercase;
  line-height: 100px;
  color: #66557d; }

.about a {
  padding: 0 0.25rem;
  text-decoration: none;
  color: #c9c9d5; }

.about a:hover {
  color: #555; }

.logo-img {
  display: block;
  margin: 0 auto; }

.log-full {
  height: 100%; }

.log-form {
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .log-form input, .log-form button {
    width: 100%; }
  .log-form .button {
    width: 90%;
    display: block;
    margin: 0 auto; }

.offers {
  background-color: #f0eff4; }

.hotel {
  background-color: #fff;
  heigth: 20rem; }

.desc {
  text-align: center;
  vertical-align: top; }

/*.row {
 display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display:         flex;
}
 */
.stars {
  height: 3rem;
  line-height: 3rem;
  color: #66557d; }

.name {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  color: #555; }

.desc p {
  line-height: 1.5;
  margin: 0; }

.desc p a {
  margin-top: 2rem;
  display: inline-block; }

.text {
  padding: 0 0 1rem 0;
  height: 9rem;
  color: #aaa; }

.book {
  line-height: 3rem; }

.btn-book {
  width: 9rem;
  display: inline-block;
  background-color: #66557d;
  text-decoration: none;
  color: #fff;
  font-weight: 900; }

.price {
  width: 16rem;
  display: inline-block;
  background-color: #f7f7f9; }

.price span {
  color: #333;
  font-weight: bold; }

.cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/images/2.jpg"); }

.nav {
  height: 5rem;
  margin: 1rem 0; }

header .logo {
  color: #66557d;
  display: inline-block;
  font-family: 'Pacifico', cursive;
  line-height: 5rem;
  margin: 0; }

.login,
.logged {
  display: inline block;
  line-height: 5rem;
  text-align: right;
  font-size: 1.5rem;
  color: #66557d;
  padding: 0 1rem; }

.login a {
  color: white;
  text-decoration: none; }

.logged a {
  color: #43bb95;
  text-decoration: none; }

.copy {
  color: #f0eff4;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin: 6rem;
  margin-bottom: 9rem; }
  .copy .button {
    background: rgba(255, 255, 255, 0.5);
    border-style: none; }

.hotel-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #f5f5f5;
  display: block;
  height: 30rem; }

.uppercase {
  text-transform: uppercase; }

.thin {
  font-weight: 300; }

.secondary {
  background-color: #f0eff4; }

.clear {
  margin: 0 !important; }

*[class^='star-'] {
  display: inline-block;
  text-align: center; }

.star-5:after {
  content: "★★★★★"; }

.star-4:after {
  content: "★★★★☆"; }

.star-3:after {
  content: "★★★☆☆"; }

.star-2:after {
  content: "★★☆☆☆"; }

.star-1:after {
  content: "★☆☆☆☆"; }

.media {
  display: block; }
  .media:after {
    content: "";
    display: table;
    clear: both; }

.media .media {
  margin-left: 100px; }

.media__img {
  float: left;
  margin-right: 10px; }

.media__body {
  overflow: hidden;
  min-height: 80px; }

.media__body,
.media__body > :last-child {
  margin-bottom: 0; }

.avatar {
  border-radius: 1000px; }

.text-center {
  text-align: center; }

.right {
  float: right; }

.left {
  float: left; }

.isle-1-v {
  padding: 1rem 0; }

.isle-1-h {
  padding: 0 1rem; }

.a-none, .a-none:hover {
  color: inherit;
  text-decoration: none; }

.clearmargin {
  margin: 0; }

.clearpadding {
  padding: 0; }

.button-full {
  width: 100%; }

.photo-thumb {
  display: inline; }

.inline-block {
  display: inline-block; }

.comments {
  background-color: #f0eff4;
  padding: 3rem 0; }

.comments .avatar {
  width: 4.5rem; }

.comments textarea {
  width: 100%; }

.hotel-list {
  padding: 2rem 0; }

.hotel-list .bottomrow {
  margin-top: 8px; }
  .hotel-list .bottomrow h6 {
    margin-top: 14px; }

@media only screen and (max-width: 700px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .panel {
    /* Force table to not be like tables anymore */ }
    .panel table, .panel thead, .panel tbody, .panel th, .panel td, .panel tr {
      display: block; }
    .panel thead {
      display: none; }
    .panel tr {
      border-bottom: 1px solid #f0eff4; }
    .panel tr:last-child {
      border-bottom: 0px; }
    .panel td {
      /* Behave  like a "row" */
      border: none;
      position: relative;
      padding: 12px 15px !important; }
    .panel td:last-child {
      text-align: center !important; }
      .panel td:last-child button, .panel td:last-child .button {
        width: 100%; } }

.panel {
  border-radius: 3px;
  background-color: white; }

.panel .title {
  border-radius: 3px 3px 0 0;
  font-size: 2rem;
  font-weight: 300;
  background-color: #4A5C6F;
  color: white;
  padding: 1rem; }

.panel .body {
  padding: 1rem; }

.details > td {
  text-align: left !important; }

.button.button-red,
button.button-red {
  color: #fff;
  background-color: #EC6969;
  border-color: #EC6969; }

.button.button-green,
button.button-green {
  color: #fff;
  background-color: #43bb95;
  border-color: #43bb95; }

.button.button-grey,
button.button-grey {
  color: #fff;
  background-color: #B8BCC6;
  border-color: #B8BCC6; }

.button.button-blue,
button.button-blue {
  color: #fff;
  background-color: #5ab0ee;
  border-color: #5ab0ee; }

.button-small {
  margin-bottom: 0.5rem;
  padding: 0 1.5rem;
  height: 28px;
  line-height: 28px; }

.table-dash {
  width: 100%;
  margin: 0; }

.table-dash td:last-child {
  text-align: right; }

.table-dash tr:last-child td {
  border-bottom: 0; }

.disabled {
  color: #ddd; }

.hidden {
  display: none; }

.message {
  font-size: 2rem; }

.message-info {
  color: #fff;
  background-color: #5ab0ee; }

.message-error {
  color: #fff;
  background-color: #EC6969; }

.message-close {
  cursor: pointer; }
