<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/dashboard :: page">
  <head>
  </head>
  <body>
    <div th:fragment="content">
      <div class="secondary">
        <div class="container">
          <br/>
          <h3>New booking</h3>
          <div class="panel">
            <div class="title">
              Booking
            </div>
            <div class="body">
              <form th:action="'/dashboards/manager/bookings/'" method="POST">
                <label>Guest</label>
                <select name="guest">
                  <option th:each="guest: ${guests}" th:value="${guest.id}" th:text="${guest.name}"/>
                </select>
                <label>Hotel</label>
                <select id="hotel-ajax" name="hotel">
                  <option selected="" disabled="">Hotel</option>
                  <option th:each="hotel: ${manager.hotels}" th:value="${hotel.id}" th:text="${hotel.name}"/>
                </select>
                <label>RoomType</label>
                <select id="roomtype-ajax" name="roomtype">
                  <option selected="" disabled="">RoomTypes</option>
                  <option th:each="type: ${roomtype}" th:value="${{type}}" th:text="${type.name}"/>
                </select>
                <label>Check-in</label>
                <input name="arrival" th:value="${param.arrival[0]}" th:unless="${param.arrival == null}" class="clear" type="date"/>
                <input name="arrival" th:value="${#dates.format(#calendars.createToday(), 'yyyy-MM-dd')}" th:unless="${param.arrival != null}" type="date"/>
                <label>Check-out</label>
                <input name="departure" th:value="${param.departure[0]}" th:unless="${param.departure == null}" class="clear" type="date"/>
                <input name="departure" th:value="${#dates.format(#calendars.createToday(), 'yyyy-MM-dd')}" th:unless="${param.departure != null}" type="date"/>
                <button class="button button-primary" type="submit">Book</button>
              </form>
            </div>
          </div>
          <br/>
          <a class="button button-blue" href="/dashboards/manager/hotels/new">New Hotel</a>
        </div>
        <br/>
      </div>
    </div>
  </body>
</html>

