<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="layouts/dashboard :: page">
  <head>
  </head>
  <body>
    <div th:fragment="content">
      <div class="secondary">
        <div class="container">
          <br/>
          <h3>Editing booking</h3>
          <div class="panel">
            <div class="title">
              <span th:text="@{|Booking at ${booking.hotel.name}|}"/>
            </div>
            <div class="body">
              <div th:include="bookings/form :: bookingform(@{|/dashboards/guest/bookings/${booking.id}|})"/>
            </div>
          </div>
          <br/>
        </div>
        <br/>
      </div>
    </div>
  </body>
</html>

