<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div th:fragment="bookingform(url)">
      <form  action="#" th:action="${url}" method="post">
        <p>
        <label>Check-in</label>
          <input name="arrival" th:value="${#dates.format(booking.arrival, 'yyyy-MM-dd')}" class="clear" type="date"/>
        <label>Check-out</label>
            <input name="departuree" th:value="${#dates.format(booking.departure, 'yyyy-MM-dd')}" class="clear" type="date"/>
        <select name="roomtype">
          <option th:each="room: ${booking.hotel.rooms}" data-th-attr="data-price=${room.price}" th:value="${room.type.id}" th:text="${room.type.name}"/>
        </select>
        <input class="button button-small button-green block" type="submit" value="Submit" />
        <input class="button button-small button-blue block" type="reset" value="Reset" />
        </p>
      </form>
    </div>
  </body>
</html>